body {
  /* display: grid; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  /* padding-left: 10%;
    padding-right: 10%; */
}

nav {
  background-color: white;
}

.navbar-brand {
  margin-right: 0.5rem !important;
}

a {
  font-weight: bolder;
}

.navbar a {
  text-decoration: none;
  color: lightslategrey;
}

.navbar a:link {
  text-decoration: none;
  color: lightslategrey;
}

.navbar a:visited {
  text-decoration: none;
  color: lightslategrey;
}

.navbar a:hover {
  /* background-color: orange; */
  text-decoration: none;
  font-weight: bold;
  color: lightslategrey;
}

.navbar-brand-img {
  width: 30%;
  height: 30%;
  /* padding: 16px; */
}

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

i {
  text-align: center;
  font-size: 5em;
  padding-bottom: 0.5rem;
}

[class^="fa-"],
[class*=" fa-"] {
  display: inline-block;
  width: 100%;
  color: lightslategrey;
}

.image-first {
  position: relative;
  width: 100%;
  padding-top: 3.5rem;
}

.login-link {
  text-align: center;
  color: white;
}

#login-text {
  color: white;
}

/* #login-button {
  background-color: #ff7f2a;
} */

.card {
  width: 18rem;
}

.partners-images {
  /* width: 15rem; */
  padding-left: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
}

.fixed-top-compensation::before {
  display: block;
  content: " ";
  margin-top: -4.4rem;
  height: 4.4rem;
  visibility: hidden;
  pointer-events: none;
}
